{% extends 'portfolio_app/base.html' %}
{% block content %}
{% load static %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio_app/euforma-112.jpg' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8 text-center">
    <h1 id="hometext" class="font-weight-bold">I'm rookie and I know it!<br>🦝</h1>
  </div>
  <div class="col-md-8 text-center">
    <p>I walked into a world of coding through the door labeled: Python.<br>Django and Selenium WebDriver quickly started stealing my day time.<p>
  </div>
</div>

<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}" target="_blank">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}
